:root {
  --background-color: #f1f5f9;
  --font-color: #000000;
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --font-color: #ffffff;
}

html {
  background-color: var(--background-color);
  font-family: sans-serif;
  color: var(--font-color);
}

body {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
}

