---
import ImageGallery2 from "../components/ImageGallery2.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Image Background</title>
  </head>
  <body>
    <div class="gallery-container" id="gallery-container">
      <ImageGallery2 />
    </div>
  </body>
</html>
