---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
    <link rel="stylesheet" href="/theme-toggle.css">
    <style>
      nav {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 20px;
      }
      nav a {
        text-decoration: none;
        color: var(--font-color);
      }
  </style>
</head>
<div class="theme-switch">
  <label class="switch">
    <input type="checkbox" id="theme-toggle">
    <span class="slider round"></span>
  </label>
</div>

<nav>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</nav>

    <h1>Astro</h1>
    <h2>My Astro site!</h2>

  
    <script src="/theme-toggle.js" is:inline></script>
  

  </body>
</html>