---
import VideoPlayer from '../components/VideoPlayer';
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import VideoWithFilter from '../components/VideoWithFilter';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <!-- Render the React component -->
  <VideoWithFilter client:visible />

  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]}></Greeting>
</BaseLayout>