---
console.log("GoldenAge component is rendering.");

---

<div class="golden-age-container">
  <svg 
    class="golden-age-svg"
    viewBox="0 0 1159 351"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    preserveAspectRatio="xMidYMid meet">
    <g id="shape">
      <defs>
        <pattern id="pattern" patternUnits="userSpaceOnUse" width="1159" height="351">
          <image href="/golden-age.svg" width="1159" height="351" />
        </pattern>
      </defs>
      <rect width="1159" height="351" fill="url(#pattern)" />
    </g>
  </svg>
</div>
