---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/gallery">Gallery</a>
    <a href="/glide">Glide</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  </div>